<header>
    <div>
        <h3>Semos Education</h3>
        <nav>
            <a id="home" href="/">Home</a>
            <a id="courses" href="/courses">Cousres</a>
            <a id="schedule" href="/schedule">Schedule</a>
            <a id="contacts" href="/contacts">Contacts</a>
        </nav>
    </div>
</header>