h3 {
    float: left;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    display: inline;
    float: right;
    list-style: none;
    margin: 10px;
    order: reverse;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}

img {
    width: 100%;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.cardProject {
    width: 300px;
    margin: 20px;
}

.cardProject:hover {
    box-shadow: 4px solid gray;
    cursor: pointer;
}

p {
    text-align: justify;
}

.cardArchitector {
    width: 250px;
    margin: 30px;
}

.cardArchitector:hover {
    box-shadow: 4px solid gray;
    cursor: pointer;
}

button {
    width: 100%;
    height: 30px;
    text-align: center;
}

button:hover {
    cursor: pointer;
    box-shadow: gray;
}

input {
    width: 80%;
    height: 30px;
    float: left;
    margin: 10px;
}

#lastButton {
    background-color: black;
    color: white;
    width: 80%;
    height: 30px;
    font-size: 15px;
    margin: 10px;
}

footer {
    background-color: black;
    height: 15px;
    font-size: 10px;
    text-align: center;
    color: white;
}