<%- include('../template/head.ejs')-%>

    <body>
        <div>
            <%- include('../template/navbar.ejs')-%>

                <main>
                    <h1>Semos Home page</h1>
                    <p>The main task of Semos Education is developing a wide range of courses designed for various end users with a different level of computer technology knowledge. Special attention is given to the cooperation with companies and institutions,
                        organizing a customized training for them, focusing on their needs and their internal development. Semos Education also acts as a service for educational support for companies in the region. Equipped with sophisticated information
                        technology and highly educated and experienced training staff, Semos Education sets the standards in education quality.</p>
                </main>

                <%- include('../template/footer.ejs')-%>
        </div>
    </body>